/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

body {
  background-image: url("../Images/VeritasLandscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.montserrat-head {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.rounder {
  border-radius: 300px;
}

.round {
  border-radius: 12px;
}

#signUp {
  border-radius: 17px;
  border: none;
}

i {
  display: block;
}
.left-side {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #840e0e;
}

.DriverReg .carrd {
  overflow: hidden;
  max-height: 90vh;
}

.DriverReg form {
  padding-right: 15px;
  scrollbar-width: thin;
}

.DriverReg form::-webkit-scrollbar {
  width: 6px;
}

.DriverReg form::-webkit-scrollbar-track {
  background: rgb(101, 160, 225);;
  border-radius: 3px;
}

.DriverReg form::-webkit-scrollbar-thumb {
  background: rgb(6, 88, 220);;
  border-radius: 3px;
}

.DriverReg form::-webkit-scrollbar-thumb:hover {
  background: rgb(6, 88, 220);;
}
