/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

body {
  background-image: url("../Images/VeritasLandscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.montserrat-head {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.rounder {
  border-radius: 300px;
}

.round {
  border-radius: 12px;
}

#signUp {
  border-radius: 17px;
  border: none;
}

i {
  display: block;
}
.left-side {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #840e0e;
}
